/* Other rules */
body {
  font-family: "Roboto";
}
* {
  box-sizing: border-box;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
h1 {
  font-size: 30px;
}

.container {
  width: 85%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero button {
  cursor: pointer;
}
.hero img {
  height: 45px;
  cursor: pointer;
}
.sell {
  background-color: #0cadb7;
  color: white;
  border: none;
}
/* banner */
.banner {
  position: relative;
  background-image: url(../src/images/banner.jpeg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}
.banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.message {
  position: absolute;
  height: 200px;
  width: 300px;
  top: 150px;
  left: 10%;
  padding: 5px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
/* Offers dans la Home */

.offers {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination {
  margin: 0px auto 200px auto;
  display: flex;
  justify-content: center;
  list-style: none;
  outline: none;
}
.pagination > li > a {
  border: 1px solid #0cadb7;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
/* offerMini */
.offermini {
  cursor: pointer;
  border: solid red 1px;

  width: 22%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.offermini img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
  justify-content: center;
}
/* Signup */
.formContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.formVinted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formVinted input {
  width: 300px;
  margin: 5%;
  border: none;
  border-bottom: #0cadb7 1px solid;
  font-size: 18px;
  height: 40px;
}
.submit {
  background-color: #0cadb7;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.closeSignup {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0cadb7;
  border-radius: 5px;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
}
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
/* pagination */
.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #0cadb7;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid #0cadb7;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: #0cadb7;
  background-color: azure;
}
/* Toggle asc desc */
.toggels {
  display: inline;
}

.flipswitch {
  position: relative;
  width: 86px;
}
.flipswitch input[type="checkbox"] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before,
.flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 24px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch-inner:after {
  content: "↥";
  padding-left: 26px;
  background-color: #0db1bb;
  color: #ffffff;
  text-align: center;
}
.flipswitch-inner:before {
  content: "↧";
  padding-right: 26px;
  background-color: #bb136c;
  color: #000000;
  text-align: center;
}
.flipswitch-switch {
  width: 31px;
  margin: -3.5px;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 59px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}
