/* Other rules */
* {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}

.container {
  width: 85%;
  margin: 0 auto;
}
/* hero */
a {
  text-decoration: none;
}
.hero {
  display: flex;
  justify-content: space-between;
}
.hero button {
  cursor: pointer;
}
.hero img {
  height: 45px;
}
.sell {
  background-color: #0cadb7;
  color: white;
  border: none;
}
/* banner */
.banner {
  position: relative;
  background-image: url(../src/images/banner.jpeg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}
.banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.message {
  position: absolute;
  height: 200px;
  width: 300px;
  top: 150px;
  left: 10%;
  padding: 5px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
/* Offers dans la Home */
.offers {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* offerMini */
.offermini {
  cursor: pointer;
  border: solid red 1px;
  height: 300px;
  width: 200px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.offermini img {
  width: 95%;
  object-fit: cover;
  margin: 0 auto;
}
/* Signup */
.formContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.formVinted {
  display: flex;
  flex-direction: column;
}
.formVinted input {
  width: 200px;
  margin: 4%;
  border: none;
  border-bottom: black 1px solid;
}
.ok {
  display: none;
}
.nok {
  color: red;
}
